table {
    border-collapse: collapse;
    border-spacing: 0;
	max-width: 100%;
    background-color: transparent;
}

th {
    text-align: left
}

td, th {
    padding: 0
}
.table {
    width: 100%;
    margin-bottom: 20px
}

.table th {
    font-weight: 500
}

.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>th,
.table>caption+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>td,
.table>thead:first-child>tr:first-child>td {
    border-top: 0
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

.membership-passes-table>tbody>tr>td {
    vertical-align: middle
}



























th {
    text-align: left
}